@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html
{
  font-size: 62.5%;
  box-sizing: border-box;
}

body
{
  font-family: 'Lalezar', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #033c93 0%, #2e41bf 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main
{
  background: rgba( 255, 255, 255, 0.6 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  position: absolute;
  width: 110rem;
  height: 60rem;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  transform: scale(1.2);
}

.my-link
{
  border-radius: 50rem;
  width: 70px;
  height: 70px;
  background: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #2e41bf;
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.player
{
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name
{
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score
{
  font-size: 8rem;
  font-weight: 300;
  color: #3a73dc;
  margin-bottom: auto;
  background: -webkit-linear-gradient(50deg, #3c6fcf, #183d81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player--active
{
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name
{
  font-weight: 700;
}
.player--active .score
{
  font-weight: 400;
}

.player--active .current
{
  opacity: 1;
}

.current
{
  background-color: rgba(0, 0, 0, 0.055);
  opacity: 0.8;
  border-radius: 25px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label
{
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #f1f1f1;
}

.current-score
{
  font-size: 3.5rem;
}

.btn
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  padding: 0.7rem 1.2rem;
  border-radius: 1.5rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn:hover
{
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.2);
}

.btn::first-letter
{
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new
{
  top: 4rem;
}
.btn--roll
{
  top: 39.3rem;
}
.btn--hold
{
  top: 46.1rem;
}

.btn:active
{
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus
{
  outline: none;
}

.dice
{
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  transition: all 0.2s;
  filter: grayscale(00%) brightness(100%) sepia(80%) hue-rotate(-180deg) saturate(800%) contrast(1);
}

.player--winner
{
  background-color: #2f2f2f;
}

.player--winne.scorer .name
{
  font-weight: 700;
  color: #48aeff;
}

.hidden
{
  display: none;
}
